* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #f8f8f8;
font-family: 'Inconsolata', monospace;
}

.container {
    height: 500px;
width: 500px;
padding: 50px;
background-color: silver;
}

h3 {
    font-style: italic;
}

p {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
